body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;

    height: 500px;
}

.content {
    margin-top: 100px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: blue;
}

.content2 {
    background: red;
    margin-top: 0px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: center;
}

.header {
    background-color: white;
    padding: 20px;

    a {
        margin-left: 20px;
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}

