
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baraholka</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


<div class="container">
    <div class="header">
        {% if user.is_authenticated %}
            <p>Здравствуйте, {{ user.first_name }}</p>
            <a href="{% url 'logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'register' %}">Регистрация</a>
            <a href="{% url 'login' %}">Зайти</a>
        {% endif %}
        <a href="{% url 'index' %}">Магазин</a>
        <a href="{% url 'seller_index' %}">Продавцам</a>
    </div>
    <div class="content">
        {%block content%}

        {%endblock%}
    </div>
</div>


</body>
</html>